/* 
    Document   : newcss
    Created on : 2012-06-19, 08:47:28
    Author     : Jurek
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    font-family: sans-serif;
    font-size: 10px;
    color: #000000;
}
h2
{
    font-size: 16px;
    color: #3d2dff;
    font-family:serif;
}
.errorMsg
{
    font-size: 12px;
    font-family: serif;
    font-weight: bold;
    color: #FF0000;
    padding: 5px;
}

.input_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	border:1px solid #FF7C08;
}
